{% extends 'auth/base.html' %}
{% block meta_title %}
Login Page
{% endblock %}
{% block content %}
<div class="card-wrapper">

					<div class="brand">
						<img src="https://portal.practical-devsecops.training/static/img/default.af69762bdc88.png" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
                            {% include 'includes/message.html' %}
							<h4 class="card-title">Login</h4>
                            {% if next_url %}
                            <form method="POST" action="{{ url_for('user.login') }}?next={{ next_url }}" class="my-login-validation" novalidate="">
                            {% else %}
                                <form method="POST" action="{{ url_for('user.login') }}" class="my-login-validation" novalidate="">
                            {% endif %}

								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="{{ url_for('user.forgot_password') }}" class="float-right">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="{{ url_for('user.register') }}">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; <script>document.write(new Date().getFullYear())</script> &mdash; Practical DevSecOps
					</div>
				</div>
{% endblock %}